<div *ngIf="!loading; else loadingSpinner"
  class="container bg-primary bg-gradient bg-opacity-25 border border-2 rounded-1 border-sucess border-opacity-50 py-3 px-5 p-sm">
  <div class="container-md bg-light bg-gradient rounded-1 d-flex flex-row flex-wrap gap-4 px-3 py-3">

    <div px-3 class="h-25 flex-column flex-wrap text-black-50">
      <h1 class="text-dark">{{location.name}}</h1>
      <div>Type:
        <div class="fs-3 text-dark">{{location.type}}</div>
      </div>
      <div>Dimension:
        <div class="fs-3 text-dark">{{location.dimension}}</div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-center mt-2 gap-4 px-3 py-3 ">
    <ul ngbNav #nav="ngbNav" class="nav-pills rounded-pill bg-light shadow pe-none">
      <li ngbNavItem>
        <a ngbNavLink class="rounded-pill">Characters</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!!location.residents"
    class="bg-light bg-gradient rounded-1 d-flex flex-row flex-wrap justify-content-center mt-2 gap-4 px-3 py-3">
    <ng-container *ngFor="let char of location.residents">

      <div role="button" class="card" (click)="navigate(char.id)">
        <img [src]="char.image" [alt]="char.name + ' image'" class="shadow rounded-3 m-1 imgProfile">
        <div class="card-body bg-warning bg-gradient bg-opacity-25">
          <h5 class="card-title">{{char.name}}</h5>
          <div class="card-text">
            <div>Gender:
              <div class="fs-4 text-dark">{{char.gender}}</div>
            </div>
            <div>Status:
              <div class="fs-4 text-dark">{{char.status}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="z-2 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
