<div [ngClass]="{'hidden-loading': loading}"
  class="container bg-primary bg-gradient bg-opacity-25 border border-2 rounded-1 border-sucess border-opacity-50 py-3 px-5 p-sm">
  <div class="container-md bg-light bg-gradient rounded-1 d-flex flex-row flex-wrap gap-4 px-3 py-3">

    <img [src]="character.image" [alt]="character.name + ' image'" class="shadow rounded-3 m-1 imgProfile"
      loading="lazy">

    <div px-3 class="h-25 flex-column flex-wrap text-black-50">
      <h1 class="text-dark">{{character.name}}</h1>
      <div>{{'specie' | translate}}:
        <div class="fs-3 text-dark">{{character.species}}</div>
      </div>
      <div *ngIf="!!character.type">{{'type' | translate}}:
        <div class="fs-3 text-dark">{{character.type}}</div>
      </div>
      <div>{{'gender' | translate}}:
        <div class="fs-3 text-dark">{{character.gender | lowercase | translate}}</div>
      </div>
      <div>{{'status' | translate}}:
        <div class="fs-3 text-dark">{{character.status | lowercase | translate}}</div>
      </div>

    </div>
    <div *ngIf="!!character.origin" class="pt-5 mt-4 ms-2 pmt-sm">

      <h4 class="text-black-50">{{'origin' | translate}}
      </h4>
      <div class="fs-3 text-dark">{{character.origin.name}}</div>
      <div>{{'dimension' | translate}}:
        <div class="fs-3 text-dark">{{character.origin.dimension}}</div>
      </div>
    </div>
    <div *ngIf="!!character.location" class="pt-5 mt-4 ms-2 pmt-sm">

      <h4 class="text-black-50">{{'actualLocation' | translate}}
      </h4>
      <div class="fs-3 text-dark">{{character.location.name}}</div>
      <div>{{'dimension' | translate}}:
        <div class="fs-3 text-dark">{{character.location.dimension}}</div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-center mt-2 gap-4 px-3 py-3 ">
    <ul ngbNav #nav="ngbNav" class="nav-pills rounded-pill bg-light shadow pe-none">
      <li ngbNavItem>
        <a ngbNavLink class="rounded-pill">{{'episodes' | translate}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!!character.episode"
    class="bg-light bg-gradient rounded-1 d-flex flex-row flex-wrap justify-content-center mt-2 gap-4 px-3 py-3">
    <ng-container *ngFor="let ep of character.episode">

      <div class="card">
        <div role="button" class="card-body bg-sucess bg-gradient bg-opacity-25" (click)="navigate(ep.id)">
          <h5 class="card-title">{{ep.name}}</h5>
          <div class="card-text">
            <div>{{'episode' | translate}}:
              <div class="fs-4 text-dark">{{ep.episode}}</div>
            </div>
            <div>{{'airdate' | translate}}:
              <div class="fs-4 text-dark">{{ep.air_date}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="loading" class="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{'loading' | translate}}...</span>
  </div>
</div>
