<nav class="navbar navbar-expand-lg navbar-light bg-success bg-gradient bg-opacity-75 container-fluid">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>{{'home.title' | translate}}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{'home.home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/characters">{{'characters' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/locations">{{'locations' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/episodes" tabindex="-1">{{'episodes' | translate}}</a>
        </li>
      </ul>
      <form [formGroup]="formGroup" class="w-25 d-flex form-floating">
        <select formControlName="selectLanguage" id="selectLanguage" class="form-select" aria-label="Language select"
          (change)="selectLanguage($event.target)">
          <ng-container *ngFor="let lg of supportLanguages">
            <option [value]="lg">{{lg | translate}}</option>
          </ng-container>
        </select>
        <label for="selectLanguage">{{'selectLanguage' | translate}}:</label>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid py-3 ">

  <router-outlet></router-outlet>

</div>
